
header {
  font-size: 40px;
  padding: 30px;
  font-style: 'Gloria Hallelujah', cursive;
}

body {
  background-image: url(images/sakura.png);
  font-family: 'Indie Flower', cursive;
  line-height: 1.4em;
}

article {
  max-width: 700px;
  margin: 0 auto;
}

img {
  margin: 0.5px;
}